.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  width: 944px;
  height: 904px;
  padding-top: 50px;
  align-content: space-between;
  justify-content: space-between;
}
